<h1>About Kickin' It LA</h1>
<p>Definitely not the first Shoe Store in LA but one that's been created to work on the Career Foundry Ruby On Rails course.</p>

<img src="http://www.discoverlosangeles.com/sites/default/files/styles/rotator_image/public/media/Activities/Events-Calendar-Rotator-1020.jpg?itok=ApEwd8A6">
