h1 {
margin-top: 50px;
font-weight: bold;
}

p {
	font-weight: bolder;
}

.col-md-3 a {
	padding-bottom: 0;
}

// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
